

:root{
    /* primary */
    --light-red: hsl(356, 100%, 66%);               /* CTA text */
    --very-light-red: hsl(355, 100%, 74%);          /* CTA hover background */
    --very-dark-blue: hsl(208, 49%, 24%);           /* headings */
    /* neutral */
    --text-color: hsl(0, 0%, 100%);                 /* text */
    --grayish-blue: hsl(240, 2%, 79%);              /* footer text */
    --very-dark-grayish-blue: hsl(207, 13%, 34%);   /* body copy */
    --very-dark-black-blue: hsl(240, 10%, 16%);     /* footer background */
    /* gradient */
    --g-very-light-red: hsl(13, 100%, 72%);
    --g-light-red: hsl(353, 100%, 62%);
    --very-dark-gray-blue: hsl(237, 23%, 32%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
}


p{
    font-size: 17px;
}

h2{
    font-size: 2.3rem;
}

h3 {
    font-size: 1.5rem;
}




.white{
    color: white;
}

body{
    font-family: 'Ubuntu';
    font-size: 16px;
    margin: 0;
    line-height: 1.5rem;
}

.container{
    max-width: 1440px;
    margin: auto;
    margin-top: 0;
}

.mid-container {
    padding: 30px 8vw;
    height: inherit;
}

.header{
    background-image: linear-gradient(120deg, var(--g-very-light-red), var(--g-light-red)), url(../images/bg-pattern-intro.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: top, 25% 52%;
    background-blend-mode: lighten;
    background-size: 200%;
    height: auto;
    border-bottom-left-radius: 60px;
    line-height: initial;
}

.menu{

    margin: 0 20px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}

.nav-items{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: inherit;

}


.burger{
    position: absolute;
    top: 50px;
    display: block;
    background-color: white;
    color: black;
    height: auto;
    padding: 10px;
    width: 97%;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.burger .dropdown {
    height: 50px;
}

.burger .log-buttons{
    display: block;
    color: black;
}

.burger img{
    fill: var(--light-red);
    filter: drop-shadow(0 0 0 var(--g-light-red));
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.dropdown{
    position: relative;
    height: 100%;
    display: inherit;
    align-items: inherit;
}

.dropdown img{
    margin: auto 5px;
}

.dropdown:hover img{
    transform: rotate(180deg)
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 120px;
    padding: 5px;
}

.dropdown-content a{
    color: black;
    padding: 10px;
    display: block;
}

.dropdown-content a:hover{
    font-weight: 600;
    text-decoration: none;
    
}

.dropdown:hover .dropdown-content{
    
    display: block;
    background-color: white;
    color:  black;
}

.burger .dropdown:hover .dropdown-content{
    position:relative;
    display: block;
    box-shadow: none;
    background-color: var(--grayish-blue);
    color:  black;
}

.burger  .dropdown:hover{
    height: 200px;
    position: relative;
    
}

.burger .dropdown:hover a {
    color:  var(--very-dark-blue);
}


.nav-bar{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

.button {
    padding: auto;
    height: inherit;
    min-height: 50px;
    min-width: 130px;
    border: none;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
}

.ghost {
    background-color: transparent;
    color: inherit
}

.ghost:hover{
    font-weight: 800;
}

.filled {
    background-color: white;
    color: var(--light-red);
}

.filled:hover{
    background-color: var(--very-light-red);
    color: white;
}

.outlined {
    background-color: transparent;
    border: solid white 1px;
}

.outlined:hover {
    background-color: white;
    border: solid white 1px;
    color: var(--light-red);
}


.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    text-align: center;
}

.header-content h1, h2, h3, h4 {
    font-family: 'Overpass';
    
}

.header-content h1{
    font-size: 75px;
    margin: auto;
}

.header-content h4{
    font-weight: 300;
    font-size: 25px;
}

#burger-button {
    display : none;
    cursor: pointer;
}



.two-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    /* margin: 0; */
    padding: 0;
}

.mid-col {
    width: 50%;
    position: inherit;
}

section { 
    margin: 150px 0;
    position: relative
}

#designed-future h2, h3{
    color: var(--very-dark-blue)
}

#designed-future p{
    color: var(--very-dark-desaturated-blue)
}

#designed-future img {
    position: absolute;
    top: -30%;
    right: -28.5%;
    width: 800px;
    overflow: hidden;
}

.center {
    text-align: center;
}

#state-art{
    background-image: linear-gradient(0deg, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue)), url(../images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: left, -83% 87%;
    background-blend-mode: color-dodge;
    background-size: 100%, 80%;
    height: 440px;
    border-radius: 0 150px;
    
}

#state-art img{
    position: absolute;
    top: -130px;
    left: 5vw;
    width: 680px;
    overflow: hidden;
    
}

#state-art .mid-col {
    margin: auto 50px;
}

#simple {
    height: 786px;
}

#simple img {
    position: absolute;
    top: 0;
    left: -15%;
    overflow: hidden;
}

a{
    cursor: pointer;
}

footer{
    background-color: var(--very-dark-black-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-top-right-radius: 100px;
}

footer a{
    color: var(--grayish-blue);

}

footer ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    


}

@media only screen and (max-width: 900px) {
    
    .menu {
        display: none;
    }

    .log-buttons {
        display: none;
    }

    #burger-button {
        display : block;
    }

    
}

@media only screen and (max-width: 1200px) {

    .header-content h1 {
        font-size: 8.5vmin;
    }

    .header-content h4 {
        font-size: 4.5vmin;
    }

    .header-content h4 {
        font-size: 4.5vmin;
    }

    
}